body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

img {
    width: 250px;
    height: 250px;
    margin: 20px 0;
}
